/* logo */
.btn-shine {
    transform: translate(-50%, -50%);
    padding: 10px;
    color: #fff;
    background: linear-gradient(to right, #9f9f9f 0, #fff 10%, #868686 20%);
    background-position: 0;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shine 3s infinite linear;
    animation-fill-mode: forwards;
    -webkit-text-size-adjust: none;
    font-weight: 800;
    font-size: 24px;
    text-decoration: none;
    white-space: nowrap;
    font-family: "Poppins", sans-serif;
}

@-moz-keyframes shine {
    0% {
        background-position: 0;
    }

    60% {
        background-position: 180px;
    }

    100% {
        background-position: 180px;
    }
}

@-webkit-keyframes shine {
    0% {
        background-position: 0;
    }

    60% {
        background-position: 180px;
    }

    100% {
        background-position: 180px;
    }
}

@-o-keyframes shine {
    0% {
        background-position: 0;
    }

    60% {
        background-position: 180px;
    }

    100% {
        background-position: 180px;
    }
}

@keyframes shine {
    0% {
        background-position: 0;
    }

    60% {
        background-position: 180px;
    }

    100% {
        background-position: 180px;
    }
}

/* ===logo=== */

/* trans lang button */
.trans-lang {
    font-size: 14px;
    outline: 0;
    border: 0;
    cursor: pointer;
    will-change: box-shadow, transform;
    background: radial-gradient(100% 100% at 100% 0%, #7a78ff 0%, #4f3af6 100%);
    box-shadow: 0px 0.01em 0.01em rgb(45 35 66 / 40%), 0px 0.3em 0.7em -0.01em rgb(45 35 66 / 30%), inset 0px -0.01em 0px rgb(58 65 111 / 50%);
    padding: 0 1em;
    border-radius: 0.3em;
    color: #fff;
    height: 2.6em;
    text-shadow: 0 1px 0 rgb(0 0 0 / 40%);
    transition: box-shadow 0.15s ease, transform 0.15s ease;
}

.trans-lang:hover {
    box-shadow: 0px 0.1em 0.2em rgb(45 35 66 / 40%), 0px 0.4em 0.7em -0.1em rgb(45 35 66 / 30%), inset 0px -0.1em 0px #4f3af6;
    transform: translateY(-0.1em);
}

.trans-lang:active {
    box-shadow: inset 0px 0.1em 0.6em #4f3af6;
    transform: translateY(0em);
}

/* ===trans lang button=== */

/* links btns */
.button {
    margin: 0;
    height: auto;
    background: transparent;
    padding: 0;
    border: none;
}

/* button styling */
.link-btn {
    --border-right: 6px;
    --text-stroke-color: rgba(255, 255, 255, 0.6);
    --animation-color: #999999;
    --fs-size: 1em;
    letter-spacing: 3px;
    text-decoration: none;
    font-size: var(--fs-size);
    font-family: "Arial";
    position: relative;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 1px var(--text-stroke-color);
}

/* this is the text, when you hover on button */
.hover-text {
    position: absolute;
    box-sizing: border-box;
    content: attr(data-text);
    color: var(--animation-color);
    width: 0%;
    inset: 0;
    border-right: var(--border-right) solid var(--animation-color);
    overflow: hidden;
    transition: 0.5s;
    -webkit-text-stroke: 1px var(--animation-color);
}

/* hover */
.link-btn:hover .hover-text {
    cursor: pointer;
    width: 102%;
    filter: drop-shadow(0 5px 23px var(--animation-color));
    -webkit-filter: drop-shadow(0 5px 23px var(--animation-color));
}

/* ===links btns=== */
/* menu icon */
.menu-icon {
    background: none;
    border: none;
    cursor: pointer;
    padding: 6px;
}

.menu-icon:focus,
.menu-icon:active {
    display: none;
    outline: none;
    transform: none;
}

/* menu */
.mobileMenu {
    min-width: 160px;
    background: #18233a;
    border-radius: 16px;
    box-shadow: 0 2px 16px 2px rgba(32, 32, 32, 0.12);
    text-align: right;
}

@media (max-width: 1024px) {
    .btn-shine {
        font-weight: 400;
        font-size: 18px;
    }

    .navContainer {
        flex-direction: row;
        padding: 0.7rem;
        gap: 0.5rem;
    }

    .trans-lang {
        font-size: 12px;
        padding: 0 7px;
        position: absolute;
        right: 55px;
        bottom: 12px;
    }

    .navContainer>.md\:flex {
        display: none !important;
    }

    .menu-icon {
        display: block !important;
        position: absolute;
        bottom: 10px;
        right: 10px;
    }

    .mobileMenu {
        display: block;
        right: 0;
    }
}

@media (min-width: 769px) {
    .menu-icon {
        display: none !important;
    }

    .mobileMenu {
        display: none !important;
    }
}